<div id="packetsLogComponent">
  <div class="header horCenter">Packets Log</div>

  <!-- TODO: move to another page -->
  <umm-statistics [inputDataTicks]="chartService.getInputDataTicks()"
                  [outputDataTicks]="chartService.getOutputDataTicks()"
                  [inputPacketsTicks]="chartService.getInputPacketsTicks()"
                  [outputPacketsTicks]="chartService.getOutputPacketsTicks()">
  </umm-statistics>

  <div class="subHeader horCenter">Filters</div>
  <umm-packet-filters></umm-packet-filters>

  <div *ngIf="packetsService.filteredPacketsBuffer.length" id="labelsContainer" class="row horAlign">
    <div class="col-xs-3 col-md-2">
      <span>timestamp</span>
    </div>
    <div class="col-xs-1 col-md-2">
      <span>bus</span>
    </div>
    <div class="col-xs-1 col-md-2">
      <span>direction</span>
    </div>
    <div class="col-xs-3 col-md-2">
      <span>event</span>
    </div>
    <div class="col-xs-2 col-md-2">
      <span>type</span>
    </div>
    <div class="col-xs-2 col-md-2">
      <span>data</span>
    </div>
  </div>


  <umm-packets-list
    [packets]="packetsService.filteredPacketsBuffer">
  </umm-packets-list>

</div>
