//noinspection CssUnknownTarget
@import '~app/styles/styles';


#packetsLogComponent{

  min-height: 100vh;
  padding: $spacing 2*$spacing;
  padding-top: $headerHeight + $spacing;
  background: $colorThemeSecondary;
  color: $colorFont;

  #packetsContainer {
  }

}

