//noinspection CssUnknownTarget
@import '~app/styles/styles';


#packetsLogComponent{
  user-select: none;
  min-height: 100vh;
  padding: $spacing 2*$spacing;
  padding-top: $headerHeight + 2*$spacing;
  padding-bottom: 50*$spacing;
  background: $colorThemeSecondary;
  color: lighten($colorThemeAccent, 25);

  #labelsContainer{
    padding: 0 $spacing;
    margin-top: 4*$spacing;
    text-align: center;
    @include fontStyle(light);
  }

  #packetsContainer {
  }

}

