//noinspection CssUnknownTarget
@import '~app/styles/styles';


#packetsLogComponent{

  min-height: 100vh;
  padding: $spacing 2*$spacing;
  padding-top: $headerHeight + $spacing;
  background: $colorThemeSecondary;
  color: lighten($colorThemeAccent, 20);

  #labelsContainer{
    margin-top: 3*$spacing;
    text-align: center;
    @include fontStyle(light);
  }

  #packetsContainer {
  }

}

