//noinspection CssUnknownTarget
@import '~app/styles/styles';

#headerComponent{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: $headerHeight;
  background: transparentize(darken($colorThemePrimary, 5), 0.1);
  color: $colorThemeSecondary;
  @include simpleShadowBot();
  padding: 0 $spacing;

  .row {
    height: $headerHeight;
  }

  .title{
    font-size: 38px;
  }

  .status {
    color: darken($colorThemeSecondary, 5);
    text-align: center;
  }

}
