<div id="headerComponent">
  <div class="horAlign">

    <div class="row middle-xs between-xs">
      <div class="col-xs-7 title">usb-mon-mon</div>
      <div class="col-xs-5 horRight">
        <div class="row middle-xs between-xs">
          <div class="col-xs-8">
            <md-slide-toggle class="status"
                             labelPosition="before"
                             color="secondary"
                             [checked]="listening"
                             [disabled]="!toggleEnabled"
                             (change)="toggleListening()">
              status: <span class="value">{{appStatus}}</span>
            </md-slide-toggle>
          </div>
          <div class="col-xs-4">
            <button class="clearData" md-button (click)="clda">clear data</button>
          </div>
        </div>


      </div>
    </div>

  </div>
</div>
