@import '~app/styles/styles';

// TODO transitions
#packetComponent {
    background: lighten($colorFontSecondary, 10);
    color: $colorThemePrimary;
    padding: $spacing;
    margin: $spacing;
    cursor: pointer;
    transition: all 300ms ease-in-out 75ms;
  &:hover {
    transform: translateX(-20px);
    @include shadow(2px, transparentize($colorThemePrimary, 0.2));
    color: lighten($colorThemePrimary, 10);
    background: lighten($colorFontSecondary, 20);
    transition: all 300ms ease;
  }
}
