//noinspection CssUnknownTarget
@import '~app/styles/styles';

#packetFiltersComponent {

  background: darken($colorThemeAccent, 5);
  margin: 2*$spacing -2*$spacing;
  border-top: 3px solid lighten($colorThemeAccent, 5);
  border-bottom: 3px solid lighten($colorThemeAccent, 5);
  color: lighten($colorThemePrimary, 5);

  .header {
    text-align: center;
    font-size: $fontSizeSubHeader;
    margin: $spacing;
    padding: 0;
    @include fontStyle(light);
  }

  .filter {
    padding: 0 $spacing;
    background: transparent;
    transition: background 300ms ease-in-out;
    .row {
      padding: $spacing 0;
      border-bottom: 1px solid darken($colorThemeAccent, 15);
    }
    .label {
      color: $colorThemeSecondary;
      padding-bottom: $spacing/2;
      font-size: 19px;
      transition: color 300ms ease-in-out;
    }
    .value {
    }
    &:hover {
      background: darken($colorThemeAccent, 15);
      .label {
        color: lighten($colorThemeAccent, 15);
      }
    }
    &:last-child {
      .row {
        border: none;
      }
    }
  }

}
