<div id="packetComponent">

    <div class="row content">

      <div class="col-xs-3 col-md-2">
        {{packet.date | moment:"HH:mm:ss:SS"}}
      </div>

      <div class="col-xs-1 col-md-2">
        {{packet.parsedData.busNumber}}
      </div>

      <div class="col-xs-1 col-md-2">
        {{packet.getDirection()}}
      </div>

      <div class="col-xs-3 col-md-2">
        {{packet.getEventType()}}
      </div>

      <div class="col-xs-2 col-md-2">
        {{packet.getUrbType()}}
      </div>

      <div class="col-xs-2 col-md-2">
        {{packet.parsedData.dataBytesCount}} B
      </div>

    </div>
</div>
