//noinspection CssUnknownTarget
@import '~app/styles/styles';
@import '../packets-log.component';

// TODO transitions
#packetComponent {

  .content {
    text-align: center;
    background: lighten($colorThemeSecondary, 10);
    color: $colorThemePrimary;
    padding: 1.5*$spacing 0;
    margin: 1.5*$spacing 0;
    cursor: pointer;
    transition: all 400ms ease-out 100ms;
    width: 100%;
    &:hover {
      @include shadow(2px, transparentize($colorThemePrimary, 0.2));
      color: lighten($colorThemePrimary, 10);
      background: $colorThemeSecondary;
      transition: all 400ms ease-out;
    }
  }

}
